html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

/* cover page */
.cover {
  height: 950px;
  background-image: url("images/banners.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cover #title {
  position: absolute;
  bottom: 100px;
  color: white;
  left: 50px;
  right: 800px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
}

.cover #title {
  position: absolute;
  bottom: 100px;
  color: white;
  left: 50px;
  right: 800px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
}

.page2 #page-2-title {
  font-family: 'Akshar', sans-serif;
  font-size: 30px;
}

.page2 #page-2-text {
  margin: 0;
  position: absolute;
  bottom: 650px;
  color: white;
  left: 900px;
  right: 100px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
}



.release-reports {
  font-family: 'Akshar', sans-serif;
  font-size: 30px;
}