html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

/* cover page */
.cover {
  height: 950px;
  background-image: url("images/banners.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cover #title {
  position: absolute;
  bottom: 100px;
  color: white;
  left: 50px;
  right: 800px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
}

.cover #title {
  position: absolute;
  bottom: 100px;
  color: white;
  left: 50px;
  right: 800px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 36px;
}

.foreword #foreword-img {
  margin: 50px;
}

.foreword #foreword-text {
  position: absolute;
  bottom: -400px;
  color: white;
  left: 900px;
  right: 80px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
}

.page2 {
  background: white;
}

.page2 #page-2-img {
  margin: 50px;
}

.page2 #page-2-title {
  color: black;
  font-family: 'Akshar', sans-serif;
  font-size: 40px;
  text-align: center;
}

.page2 #page-2-text {
  margin: 0;
  position: absolute;
  bottom: 600px;
  color: white;
  left: 900px;
  right: 100px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 22px;
}

.page3 #page-3-img {
  margin: 50px;
}

.page3 #page-3-title {
  color: black;
  font-family: 'Akshar', sans-serif;
  font-size: 50px;
  text-align: center;
}

.page3 #page-3-text {
  margin: 0;
  position: absolute;
  bottom: 550px;
  color: white;
  left: 900px;
  right: 100px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 22px;
}

.page5 #page-5-title {
  color: black;
  font-family: 'Akshar', sans-serif;
  font-size: 80px;
  text-align: center;
}

.page5 #page-5-img {
  margin: 50px;
}

.page5 #page-5-text {
  margin: 0;
  position: absolute;
  bottom: 130px;
  color: white;
  left: 900px;
  right: 100px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
}

.steph-page #steph-page-img {
  margin: 50px;
}

.steph-page #steph-page-text {
  margin: 0;
  position: absolute;
  bottom: 600px;
  color: white;
  left: 900px;
  right: 100px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
}

.klay-page #klay-page-text {
  margin: 0;
  position: absolute;
  bottom: 600px;
  color: white;
  left: 900px;
  right: 100px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
}

.dray-page #dray-page-text {
  margin: 0;
  position: absolute;
  bottom: 600px;
  color: white;
  left: 900px;
  right: 100px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 20px;
}

.fourfive-season #fourfive-season-text {
  margin: 0;
  position: absolute;
  bottom: 20px;
  color: white;
  left: 800px;
  right: 500px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 18px;
}

.fivesix-season #fivesix-season-text {
  margin: 0;
  position: absolute;
  bottom: 20px;
  color: white;
  left: 800px;
  right: 500px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 18px;
}

.sixseven-season #sixseven-season-text {
  margin: 0;
  position: absolute;
  bottom: 20px;
  color: white;
  left: 800px;
  right: 500px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 18px;
}

.seveneight-season #seveneight-season-text {
  margin: 0;
  position: absolute;
  bottom: 20px;
  color: white;
  left: 800px;
  right: 500px;
  border: 10px solid black;
  padding: 30px;
  background: black;
  opacity: 75%;
  font-family: 'Akshar', sans-serif;
  font-size: 18px;
}


.release-reports {
  font-family: 'Akshar', sans-serif;
  font-size: 30px;
}