/* cover page */
.cover {
  background-image: url('images/banners.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cover #title {
  position: absolute;
  bottom: 140px;
  color: white;
  left: 150px;
}